<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc.xsd
			http://code.alibabatech.com/schema/dubbo
			http://code.alibabatech.com/schema/dubbo/dubbo.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    应用名称        -->
    <dubbo:application name="health_web"/>

    <!--    注册中心地址      -->
    <dubbo:registry address="zookeeper://192.168.56.102:2181"/>

    <!--    dubbo包扫描    -->
    <dubbo:annotation package="cn.zr.web"/>

    <!--    启动消费者时不检查服务提供是否启动 在这里设置timeout="600000" 全局超时时间      -->
    <dubbo:consumer check="true" timeout="60000"/>

    <!--    mvc注解驱动     -->
    <mvc:annotation-driven/>

    <!--文件上传组件-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="104857600" />
        <property name="maxInMemorySize" value="4096" />
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!--    把redis.xml导入到mvc配置文件中   -->
    <import resource="applicationContext-reids.xml"/>

</beans>